#background {
  background-color: lavender;
  margin-right: 100px;
  margin-left: 100px;
}

#page_title {
  text-align: center;
  font-family: 'Lucida Sans';
  font-weight: bold;
  font-size: 54px;
  color: gold;
  background-color: teal;
}

#content-background {
  background-color: aliceblue;
  text-align: center;
  font-family: 'Lucida Sans';
  margin-top: 40px;
  margin-bottom: 40px;
}

#bold_text {
  font-size: large;
  color: mediumslateblue;
}

#world_map_title {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 32px;
}

#world_map_body {
  font-weight: lighter;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 110px;
  margin-right: 110px;
}

#world_map {
  margin-top: 30px;
  margin-bottom: 20px;
}

#category_trellis_area_body {
  font-family: Arial;
  font-weight: lighter;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 110px;
  margin-right: 110px;
}

#category_trellis_area {
  margin-top: 40px;
  margin-bottom: 40px;
}

#region_status_body {
  font-family: Arial;
  font-weight: lighter;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 110px;
  margin-right: 110px;
}

#region_radial_chart {
  margin-top: 40px;
  margin-bottom: 40px;
}

#status_vconcat_bar_chart {
  bottom: 100px;
  left: 50px;
}

#italy_map_title {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 32px;
}

#italy_map_body {
  font-family: Arial;
  font-weight: lighter;
  font-size: 16px;
  margin-top: 10px;
}

#italy_map {
  margin-top: 20px;
  margin-bottom: 40px;
}

#scatterplot_revenue_comparison_body {
  font-family: Arial;
  font-weight: lighter;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 110px;
  margin-right: 110px;
}

#scatterplot_revenue_comparison {
  margin-top: 40px;
  margin-bottom: 40px;
}

#italy_visitors_revenue_body {
  font-family: Arial;
  font-weight: lighter;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 110px;
  margin-right: 110px;
}

#italy_type_visitors_lollipop {
  margin-top: 40px;
  margin-bottom: 40px;
}